{% extends 'base.html' %}

{% block content %}
<section>
<h1>Edit pet record</h1>

<form action="/pets/{{pet.id}}" method="post">
  <label for="name">Pet Name</label>
  <input type="text" name="name" placeholder="Name" id="pet_name" required value="{{pet.name}}">

  <label for="type">Pet Type</label>
  <input type="text" name="type" placeholder="Type" id="pet_type" required value="{{pet.type}}">

  <label for="dob">Date of Birth</label>
  <input type="date" class="date_box" name="dob" placeholder="dd/mm/yyyy" id="pet_dob" required value="{{pet.dob}}">

  <label for="pet_owner">Select the pet's owner:</label>
  <select name="pet_owner" id="pet_owner">
    {% for owner in owners %}
    <option value="{{ owner.id }}" {% if pet.owner.id == owner.id %} selected="selected" {% endif %}>{{ owner.name }}</option>
    {% endfor %}
  </select>

  <label for="pet_vet">Select the veterinarian who performed the treatment:</label>
  <select name="pet_vet" id="pet_vet">
    {% for vet in vets %}
    <option value="{{ vet.id }}" {% if pet.vet.id == vet.id %} selected="selected" {% endif %}>{{ vet.name }}</option>
    {% endfor %}
  </select>

  <input class="btn btn--action" type='submit' value="Submit">
</form>
</section>
{% endblock %}