{% extends 'base.html' %}

{% block content %}
<h1>Log a treatment</h1>

<form action="/pets" method="post">
    <label for="name">Pet Name</label>
    <input type="text" name="name" placeholder="Name" id="pet_name" required>
  
    <label for="type">Pet Type</label>
    <input type="text" name="type" placeholder="Type" id="pet_type" required>

    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" placeholder="dd/mm/yyyy" id="pet_dob" required>

    <label for="pet_owner">Select the pet's owner:</label>
    <select name="pet_owner" id="pet_owner">
      {% for owner in owners %}
      <option value="{{ owner.id }}">{{ owner.name }}</option>
      {% endfor %}
    </select>

    <label for="pet_vet">Select the veterinarian who performed the treatment:</label>
    <select name="pet_vet" id="pet_vet">
      {% for vet in vets %}
      <option value="{{ vet.id }}">{{ vet.name }}</option>
      {% endfor %}
    </select>

    <input class="btn btn--action" type='submit' value="Submit">
</form>

{% endblock %}