{% extends 'base.html' %}

{% block content %}
<section>
<div id="table_entry">
    <h1> {{pet.name}} </h1>
    <p>Type: {{ pet.type }}</p>
    <p>Date of Birth: {{ pet.dob }}</p>
    <p>Owner: <a href="/owners/{{pet.owner.id}}">{{pet.owner.name}}</a></p>
    <p>Assigned vet: <a href="/vets/{{pet.vet.id}}">{{pet.vet.name}}</a></p>
</div>



<div id="table_entry">
<h3>{{pet.name}}'s treatments:</h3>
<ul>
    {% for treatment in treatments %}
        <li>
            <a href="/treatments/{{ treatment.id }}">{{treatment.check_in}} - {{treatment.check_out}}</a>
            <p>Performed by: {{ treatment.vet.name }}</p>
            <p>Notes: {{ treatment.notes }}</p>
        </li>
    {% endfor %}
</ul>
</div>
<h4><a href="/treatments/new">Log a new treatment</a></h4>
</section>
{% endblock %}