{% extends 'base.html' %}

{% block content %}
<section>
<h1>All treatments performed</h1>
<h3>Please select a record</h3>



<div id="table_entry">
    {% for treatment in treatments %}
        <p><a href="/treatments/{{ treatment.id }}">{{treatment.check_in}} - {{ treatment.check_out }}</a></p>
        <p>Name: {{ treatment.pet.name }}</p>
        <p>Performed by: {{ treatment.vet.name }}</p>
    {% endfor %}
</div>
<h4><a href="/treatments/new">Log a new treatment</a></h4>
</section>    
{% endblock content %}