{% extends 'base.html' %}

{% block content %}
<h1>All treatments performed</h1>
<h3>Please select a record</h3>

<h6><a href="/treatments/new">Log a new treatment</a></h6>

<ul>
    {% for treatment in treatments %}
        <li>
            <a href="/treatments/{{ treatment.id }}">{{treatment.check_in}} - {{ treatment.check_out }}</a>
            <p>Name: {{ treatment.pet.name }}</p>
            <p>Performed by: {{ treatment.vet.name }}</p>
        </li>
    {% endfor %}
</ul>
    
{% endblock content %}