
body {
    margin: 0px;
    margin-left: 0px;    
}
.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 0%;
    padding-top: 0%;
    margin-bottom: 0%;
    font-family: 'Roboto', sans-serif;      
}

header {
    background-color: #22465d;
    margin: 0%;
    border: 0px;
    padding: 0px;
    size: 0px;
}

#menu_links {
    text-decoration: none;
    font-size: 30px;
    border: 10px;
    color: white;
}

#menu_list {
    margin-top: 10px;
}

.navigation {
    height: 100%;
    overflow: auto;
    width: 175px;
    display: block;
    position: absolute;
    background-color: #008f9d;    
}

#nav_list {
    font-size: 16pt;
    color: black;
    font-family: 'Roboto', sans-serif;
      
    
}

#nav_list_title {
    margin-bottom: 10px;
}

#nav_links {
    text-decoration: none;
    border-spacing: 10px;
    color: black;
    line-height: 35px;  
}

#nav_links:hover {
    color: white;
}

section {
    margin-left: 200px;
    font-family: 'Roboto', sans-serif; 
}

#table_entry {
    background-color: #e8e9ed;
    background-clip: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 600px;
    padding: 15px;
}
li {
    list-style: none;
}

form {
    display: grid;
    grid-auto-rows: 20px;
    margin-right: 500px;
} 
 .date_box {
    font-family: 'Roboto', sans-serif; 
 }