<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vet Manager</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<header>
    <nav>
        <ul class="menu">
            <li id="menu_list"><a id="menu_links" href="/"><img src="/static/vet_logo.jpeg" 
                width="100"
                height="100"
                alt="logo"></a></li>
            <li id="menu_list"><a id="menu_links" href="/vets">Veterinarians</a></li>
            <li id="menu_list"><a id="menu_links" href="/owners">Owners</a></li>
            <li id="menu_list"><a id="menu_links" href="/pets">Pets</a></li>
            <li id="menu_list"><a id="menu_links" href="/treatments">Treatments</a></li>
        </ul>
    </nav>
</header>
<body>
    {% block content %}
        
    {% endblock content %}
</body>